<h1>This is secret page</h1>
<p>You found me!</p>

<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT8Ry5XomcQ3zgCX3N44hs7LFmScmPistw-HvilUvLji70FJWc0Xg" >
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>